.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent-color);
  position: sticky;
  top: 0;
  padding: var(--main-padding);
}

@media (min-width: 768px) {
  .header__logo--img {
    width: 200px;
  }
}
